<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/eventLogger.js'}" type="text/javascript"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	    <div class="topbar">
	      <div class="fill">
	        <div class="container">
	          <a class="brand" href="#">Clickstream globals monitor</a>
	          <ul class="nav">
				<li>#{a @Application.index()}"Click me" app#{/a}</li>
	            <li #{if currentController=="Application"}class="selected" #{/if} >#{a @StreamEvents.index()}Monitor#{/a}</li>
		
	            <!-- 
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
	             -->
	          </ul>
	          <!-- 
	          <form action="" class="pull-right">
	            <input class="input-small" type="text" placeholder="Username">
	            <input class="input-small" type="password" placeholder="Password">
	            <button class="btn" type="submit">Sign in</button>
	          </form>
	           -->
	        </div>
	      </div>
	    </div>
	
	    <div class="container">
	
	      <div class="content">
	        <div class="page-header">
	          <h1>Page name <small>Supporting text or tagline</small></h1>
	        </div>
	        <div class="row">
	          <div class="span16">
	            #{doLayout /}
	          </div>
	        </div>
	      </div>
	    </div> 
    </body>
</html>
